# Vim swap files
*.swp
*.swo

# Executables 
esfs
build
tags
manifest_parser
analyse_mutex_log

# Build things...
*.o
bin/
build_system_config.dat
cross/

# Ports we don't need to upload
ports/lua/
ports/acpica/files
ports/nasm

# Output drives
drive
vbox.vdi
