# Vim swap files
*.swp
*.swo

# Executables 
esfs
build
tags
manifest_parser
analyse_mutex_log

# Build things...
*.o
*.manifest.h
bin/
build_system_config.dat
cross/

# Ports we don't need to upload
ports/lua/src
ports/acpica/files
ports/nasm
ports/vim
ports/musl2
ports/musl3

# Output drives
drive
vbox.vdi

# Misc
log.txt
