# Vim swap files
*.swp
*.swo

# Executables 
esfs
build
tags
manifest_parser
analyse_mutex_log

# Build things...
*.o
*.manifest.h
bin/
build_system_config.dat
cross/

# Ports we don't need to upload
ports/lua/src
ports/acpica/files
ports/nasm
ports/vim
ports/musl/arch
ports/musl/crt
ports/musl/dist
ports/musl/include
ports/musl/ldso
ports/musl/lib
ports/musl/obj
ports/musl/src
ports/musl/tools
ports/musl/configure
ports/musl/INSTALL
ports/musl/Makefile
ports/musl/README
ports/musl/VERSION
ports/musl/WHATSNEW
ports/musl/config.mak
ports/musl/libm.a

# Output drives
drive
partition_table
vbox.vdi

# Misc
log.txt
